/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 3px #86ce9a;
  background-color: #ebf3ed;
  border-radius: 20px;
  margin-left: 50px;
  margin-right: 500px;
  }
 
 
  #content {
    display: flex;            /* Enable flexbox layout */
    align-items: flex-start;  /* Align items at the top */
    background-color: rgb(250, 210, 223);
    border: solid 3px #86ce9a;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
 
 
  body {
    background-color: #d5e9db;
  }
 
 
  h1  {
    margin-left: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
 
 
  h2, p, #output  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
 
 
  img {
    margin-left: auto;        /* Push image to the right */
    width: 350px;
    height: auto;
  }
 
 
 section {
  display: flex;
  flex-direction: column;  /* Stack minor sections vertically */
  flex-grow: 1;            /* Allows section to take remaining space */
 }
 