/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

#content {
    background-color: rgb(205, 253, 211);
    border: solid 10px #92d797;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
}  

body {
    background-color: #d2f3c5;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
  text-align: center;
  margin-bottom: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  margin-top: 40px;
}

#content p {
  line-height: 1.8;
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  margin-top: 40px;
}

h2, p {
    margin-left: 40px;
    margin-bottom: 40px;
}

.sectionbox {
    border: solid 3px #73cb75;
    border-radius: 20px;
    margin: 20px;
}
