/* General Styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

#content {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header */
h1 {
    text-align: center;
    color: #e24a8c;
}

/* Welcome Section */
h2 {
    color: #65954e;
}

#input {
    width: calc(100% - 100px);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
}

#button {
    padding: 8px 16px;
    background-color: #97c285;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#button:hover {
    background-color: #7aa666;
}

#output p {
    font-size: 1.3rem;
    color: #e24a8c;
    margin-top: 10px;
}

/* Section Box Styling */
.sectionbox {
    margin-top: 20px;
    padding: 15px;
    background-color: #ffeff4;
    border-radius: 10px;
}

.sectionbox h2 {
    font-size: 1.1rem;
    color: #555;
}

.sectionbox p {
    color: #666;
    line-height: 1.5;
}
